.popover li{
    list-style: none;
}
.popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}
.popover h2 {
    font-size: 16px;
}
li {
    list-style-type: none;
    margin-top:10px;
    margin-bottom: 10px;
}
.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}
